*{
    font-family: sans-serif;
    font-size: 16px;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 5vh;
    background-color: #222;
}

.container{
    background: linear-gradient(#bb8abb, rgb(224, 248, 255));
    padding: 20px;
    border-radius: 5px;
    width: 60vh;
}

.container-input{
    background-color: rgb(33, 210, 113);
    padding: 6px;
    border-radius: 2px;
    border: 1px solid #4d9;
    box-shadow: -1px 2px 4px #aaa;
    width: 100%;
    margin-left: -5px;
}

/* input que va a tomar la tarea */

#div__input-tarea{
    border-radius: 4px;
    border: 1px solid #fff;
    padding: 7px;
    width: 75%;
    font-size: 16px;
    transition: .4s all;
}
#div__input-tarea:focus{
    outline: none;
    border: 1px solid #3a6;
}

/* boton que va a añadir la tarea en la lista */

#btn-tarea{
    border-radius: 50%;
    padding: 7px;
    width: 6vh;
    border: 2px solid #35e ;
    margin-left: 2vh;
    color: #fff;
    font-size: 16px;
    background-color: #58f;
    box-shadow: -1px 2px 4px #3a6;
    transition: .3s all;
}

#btn-tarea:hover{
    cursor: pointer;
    border-radius: 3px;
}

#lista-tareas{
    padding: 0;
}

.item-tarea{
    background-color: rgb(91, 149, 236);
    list-style: none;
    display: flex;
    margin-top: 7px;
    box-shadow: -1px 2px 3px #26a;
    align-items: center;
    position: relative;
}

.item-tarea > p{
    color: #fff;
    font-weight: 300;
    margin-left: 3px;
    margin-right: 5px;
    letter-spacing: .5px;

    
}

.deleteBtn{
    color: rgb(243, 9, 9);
    font-size: 12px;
   border-radius: 20%;
   align-self: flex-start;
   position: absolute;
   right: 5px;
   margin-top: -5px;
   height: 15px;
   outline: 1px solid rgb(248, 72, 87);
   border: none;
   background-color: #fafafa;
}

.deleteBtn:hover{
    cursor: pointer;
    background-color: rgb(255, 205, 193);
}

.finishedBtn{
    color: #5c8;
    font-size: 12px;
   border-radius: 20%;
   margin-top: -5px;
   height: 15px;
   align-self: flex-start;
   position: absolute;
   right: 10px;
   margin-right: 20px;
   outline: 1px solid #5e9;
   border: none;
   background-color: #fafafa;
}

.finishedBtn:hover{
    cursor: pointer;
    background-color: #bfb;
    outline: 1px solid rgb(41, 214, 119);
}
.tachado{
    text-decoration: line-through;
}
